# ======================
# Python
# ======================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================
# Virtual Environment
# ======================

.env
.venv/
venv/

# ======================
# IDE
# ======================

.vscode/
.idea/

# ======================
# Build
# ======================

build/
dist/

# ======================
# Testes
# ======================

.pytest_cache/

# ======================
# Dados privados
# ======================

*.xlsx
*.csv

config_motor.json
credentials.json
secret.json

!config_motor_example.json

# ======================
# Logs
# ======================

*.log

# ======================
# Sistema Operacional
# ======================

.DS_Store
Thumbs.db